<%- include('partials/header-agent') -%>

<div class="col-md-9" style="margin:auto 0; text-align:center;">
    <h4>Welcome to the Portal</h4>
    <p>Please select one of the option on the left side</p>

</div>

<%- include('partials/footer') -%>