<%- include("partials/header-agent") -%>
<div class="Property">
    <form action="/agentHomePage/Addproperty/Add" method="POST">
        <input type="text" placeholder="type" name="type" required><br>
        <input type="text" placeholder="price" name="price" required><br>
        <input type="text" placeholder="description" name="description" required><br>
        <div class="dropdown">
            <label>IsOccupied
                <select name="isOccupied" required>
                    <option>TRUE</option>
                    <option>FALSE</option>
                </select>
            </label>
        </div>
        <input type=" number" placeholder="BHK" name="BHK" required><br>
        <div class="dropdown">
            <label>ForSale
                <select name="forSale" required>
                    <option>TRUE</option>
                    <option>FALSE</option>
                </select>
            </label>
        </div>
        <input type="text" placeholder="street" name="street" required><br>
        <input type="text" placeholder="locality" name="locality" required><br>
        <input type="text" placeholder="city" name="city" required><br>
        <input type="text" placeholder="state" name="state" required><br>
        <input type="number" placeholder="pincode" name="pincode" required><br>
        <input type="number" placeholder="ownerid" name="ownerid" required><br>
        <input type="number" placeholder="area" name="area" required><br>
        <input type="date" placeholder="date" name="date" required><br>
        <input type="text" placeholder="image" name="image" required><br>
        <input type="text" placeholder="name" name="name" required><br>
        <input type="submit" value="AddProperty">
    </form>

<%- include('partials/footer') -%>