<%- include("partials/header-agent") -%>
<div class="Property">
    <form action="/agentHomePage/Addproperty/Add" method="POST">
        <input type="text" placeholder="Propertyid" name="Propertyid" required><br>
        <input type="text" placeholder="type" name="Type" required><br>
        <input type="text" placeholder="price" name="Price" required><br>
        <input type="text" placeholder="description" name="Description" required><br>
        <div class="dropdown">
            <label>IsOccupied
                <select name="isOccupied" required>
                    <option>TRUE</option>
                    <option>FALSE</option>
                </select>
            </label>
        </div>
        <input type=" number" placeholder="BHK" name="BHK" required><br>
        <div class="dropdown">
            <label>ForSale
                <select name="forSale" required>
                    <option>TRUE</option>
                    <option>FALSE</option>
                </select>
            </label>
        </div>
        <input type="text" placeholder="street" name="Street" required><br>
        <input type="text" placeholder="locality" name="Locality" required><br>
        <input type="text" placeholder="city" name="City" required><br>
        <input type="text" placeholder="state" name="State" required><br>
        <input type="number" placeholder="pincode" name="Pincode" required><br>
        <input type="number" placeholder="ownerid" name="OwnerID" required><br>
        <input type="number" placeholder="agentid" name="AgentID" required><br>
        <input type="number" placeholder="area" name="Area" required><br>
        <input type="date" placeholder="date" name="Date" required><br>
        <input type="submit" value="AddProperty">
    </form>

<%- include('partials/footer') -%>