<%- include("partials/header-agent") -%>
<div class="Property">
    <form action="/agentHomePage/Addproperty/Add" method="POST">
        <input type="text" placeholder="Propertyid" name="Propertyid" required><br>
        <input type="text" placeholder="type" name="Type" required><br>
        <input type="text" placeholder="price" name="Price" required><br>
        <input type="text" placeholder="description" name="Description" required><br>
        <input type="text" placeholder="isOccupied" name="isOccupied"" required><br>
        <input type=" number" placeholder="BHK" name="BHK" required><br>
        <input type="text" placeholder="forSale" name="forSale" required><br>
        <input type="text" placeholder="street" name="Street" required><br>
        <input type="text" placeholder="locality" name="Locality" required><br>
        <input type="text" placeholder="city" name="City" required><br>
        <input type="text" placeholder="state" name="State" required><br>
        <input type="number" placeholder="pincode" name="Pincode" required><br>
        <input type="text" placeholder="ownerid" name="OwnerID" required><br>
        <input type="text" placeholder="agentid" name="AgentID" required><br>
        <input type="number" placeholder="area" name="Area" required><br>
        <input type="date" placeholder="date" name="Date of registration" required><br>
        <input type="submit" value="AddProperty">
    </form>
    <form action="/agentHomePage/Addproperty/Modify" method="POST">
        <input type="text" placeholder="Propertyid" name="Propertyid" required><br>
        <input type="text" placeholder="type" name="Type" required><br>
        <input type="text" placeholder="price" name="Price" required><br>
        <input type="text" placeholder="description" name="Description" required><br>
        <input type="text" placeholder="isOccupied" name="isOccupied"" required><br>
        <input type=" number" placeholder="BHK" name="BHK" required><br>
        <input type="text" placeholder="forSale" name="forSale" required><br>
        <input type="text" placeholder="street" name="Street" required><br>
        <input type="text" placeholder="locality" name="Locality" required><br>
        <input type="text" placeholder="city" name="City" required><br>
        <input type="text" placeholder="state" name="State" required><br>
        <input type="number" placeholder="pincode" name="Pincode" required><br>
        <input type="text" placeholder="ownerid" name="OwnerID" required><br>
        <input type="text" placeholder="agentid" name="AgentID" required><br>
        <input type="number" placeholder="area" name="Area" required><br>
        <input type="date" placeholder="date" name="Date of registration" required><br>
        <input type="submit" value="AddProperty">
    </form>
</div>

<%- include('partials/footer') -%>